if $prismjs_line_number
  @require 'line-number'

if $highlight_theme != false
  @require 'diff'

.container
  pre[class*='language-']
    // scrollbar - firefox
    @-moz-document url-prefix()
      scrollbar-color: var(--hlscrollbar-bg) transparent

    &::-webkit-scrollbar-thumb
      background: var(--hlscrollbar-bg)

    &:not(.line-numbers)
      padding: 10px 20px

    .caption
      margin-left: -3.8em
      padding: 4px 16px !important

      a
        padding: 0 !important
