#algolia-search
  .search-dialog
    .ais-Hits-list
      +maxWidth768()
        min-height: calc(var(--search-height) - 245px)

    #algolia-info
      .algolia-poweredBy
        float: right
        padding-top: 2px

        svg
          height: 1.1em