/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}



.text-popup {
    animation: textPopup 1s;
    color: red;
    user-select: none;
    white-space: nowrap;
    position: absolute;
    z-index: 99;
}
@keyframes textPopup {
    0%, 100% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);    
    }
}
