/* 静态文件导入 自定义样式*/

:root {
  --bg-white-opacity: rgba(255, 255, 255, 0.5);
  --bg-light-pink-opacity: rgba(253, 242, 248, 0.5);
  --bg-light-pink: rgba(255, 240, 245, 0.9);
  --bg-pink: rgba(242, 194, 237, 1);
  --bg-white-dim: rgba(255, 255, 255, 0.8);
}
#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}
/* 鼠标样式 */
body {
  cursor: url("https://cdn.jsdelivr.net/gh/xlenco/JS-X@main/mouse/normal.cur"), default;
}
a,
img,
button {
  cursor: url("https://cdn.jsdelivr.net/gh/xlenco/JS-X@main/mouse/link.cur"), default !important;
}
