/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}
//下面是我自己假如的新内容：
* {
    margin: 0;
    padding: 0;
}

body {
    background: #c27ecf;
}

.aixin {
    position: absolute;
    transform: translate(0px, 0px) scale(1);
    transition: all 0.7s ease-out;
}

.aixin::before,
.aixin::after {
    content: '';
    position: absolute;
    left: 10px;
    height: 16px;
    width: 10px;
    background-color: inherit;
    border-radius: 5px 5px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.aixin::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
