.category-lists
  .category-title
    font-size: 2.57em

    +maxWidth768()
      font-size: 2em

  .category-list
    margin-bottom: 0

    a
      color: var(--font-color)

      &:hover
        color: $text-hover

    .category-list-count
      margin-left: 8px
      color: var(--card-meta)

      &:before
        content: '('

      &:after
        content: ')'

  ul
    padding: 0 0 0 20px
    @extend .list-beauty

    ul
      padding-left: 4px

    li
      position: relative
      margin: 6px 0
      padding: .12em .4em .12em 1.4em
