// pullquote
blockquote
  &.pullquote
    position: relative
    max-width: 45%
    font-size: 110%

    &.left
      float: left
      margin: 1em .5em 0 0

    &.right
      float: right
      margin: 1em 0 0 .5em

// hexo tag video
.video-container
  position: relative
  overflow: hidden
  margin-bottom: 16px
  padding-top: 56.25%
  height: 0

  iframe
    position: absolute
    top: 0
    left: 0
    margin-top: 0
    width: 100%
    height: 100%
