.hl-label
  padding: 2px 4px
  color: var(--btn-color, $btn-color)
  addBorderRadius(3)

  &.default
    background-color: var(--btn-default-color)

  for $type in $color-types
    &.{$type}
      background-color: unquote('var(--tags-' + $type + '-color)')
