- var top_img_404 = theme.error_404.background || theme.default_top_img

.error-content
  .error-img
    img(src=url_for(top_img_404) alt='Page not found')
  .error-info
    h1.error_title= '404'
    .error_subtitle= theme.error_404.subtitle || _p('error404')
