- const { use } = theme.share

if use
  .post-share
    case use
      when 'addtoany'
        !=partial('includes/third-party/share/addtoany', {}, {cache: true})
      when 'sharejs'
        include ./share-js.pug