/**
 * @author https://github.com/txs
 **/
.code-toolbar {
  position: relative;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .4);
  @apply mb-8 mt-4 pt-6 w-full rounded-lg bg-black
}

.toolbar {
  position: absolute;
  margin-left: 100%;
  top: 8px;
  right: 4px;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  line-height: 1rem;
}

.toolbar-item{
  @apply whitespace-nowrap
}

.toolbar-item > button {
  margin-top: -0.1rem;
}

.notion-code > code[class*='language-'],
pre[class*='language-'] {
  background: black;
}

.pre-mac {
    position: absolute;
    left: 15px;
    @apply z-10 top-4 left-3
}

.pre-mac > span {
  border-radius: 50%;
  margin-right: 5px;
  @apply float-left
}

.pre-mac > span:nth-child(1) {
  background: red;
}

.pre-mac > span:nth-child(2) {
  background: sandybrown;
}

.pre-mac > span:nth-child(3) {
  background: limegreen;
}

.notion-code-copy{
  display: none;
}

pre[class*="language-mermaid"] {
  background: transparent !important; 
  @apply dark:bg-gray-200 !important;
}