/**
 * @author https://github.com/txs
 **/
.code-toolbar {
  position: relative;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  @apply w-full rounded-lg 
}

.toolbar-item{
  @apply whitespace-nowrap
}

.toolbar-item > button {
  margin-top: -0.1rem;
}

pre[class*='language-'] {
  @apply mt-0 mb-2 pt-6 !important;
}

.pre-mac {
  @apply left-5 top-2 z-10 absolute
}

.pre-mac > span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
  @apply float-left
}

.pre-mac > span:nth-child(1) {
  background: red;
}

.pre-mac > span:nth-child(2) {
  background: sandybrown;
}

.pre-mac > span:nth-child(3) {
  background: limegreen;
}
